html {
    scroll-behavior: smooth !important;
}
body {
    background-color: #f1faee;
    color: #457b9d;
}
div {
    cursor: url('Pics/hen24.png'), auto !important;
}

h2 {
    color: #1d3557;
}

.fab {
    color: #e63946;
}

.card {
    align-items: center;
    max-width: 18rem;
}

a {
    text-decoration: none;
}

.card-body {
    border-left: 1px solid rgba(0, 0, 0, 0.125);
}

#blog-h2 {
    text-align: center;
}

a:link {
    color: #1d3557;
}

a:visited {
    color: #1d3557;
}
a:hover {
    color: hotpink;
}

#carousel .carousel-item img {
    object-fit: cover;
    object-position: center;
    height: 75vh;
}

/* Lai sadaļas ir zem fixed navbar */
:target::before {
    content: '';
    display: block;
    height: 60px; /* fixed header height*/
    margin: -60px 0 0; /* negative fixed header height */
}

#btnForma {
    margin-bottom: 20px !important;
    padding-bottom: 20px;
}

.hidden {
    display: none !important;
}


